[class^="icon-"]:before, [class*=" icon-"]:before, 
[class^="icon-"]:focus, [class*=" icon-"]:focus {
  font-family: "adukar";
  font-style: normal;
  font-weight: normal;
  speak: none;
}

 i {
 	font-size: 400%;
 }

.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
	display: none;
}

.custom-checkbox  input[type="checkbox"]:checked ~ .checked {
	display: inline-block;
}


.custom-checkbox  input[type="checkbox"]:checked ~ .unchecked {
	display: none;
}

