
.icon-briefcase:before { content: '\e802'; } /* '' */
.icon-vkontakte:before { content: '\e803'; } /* '' */
.icon-clipboard:before { content: '\e804'; } /* '' */
.icon-trophy:before { content: '\e806'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */