.switch {
    display: inline-block;
}

.switch [type="checkbox"] {
    display: none;
}

.switch span {
    display: block;
    padding: 10px;
    border: 2px solid #e55;
    color: #e55;
}

.switch :checked~span {
    color: #fff;
    background-color: #e55;
}

   .oto {
    display: inline-block; 
    position: relative; 
    
   }
   .oto:hover::after {
    content: attr(data-title); 
    position: absolute; 
    left: 0; top: 110%; 
    z-index: 1; 
    font-family: Arial, sans-serif; 
    font-size: 11px; 
    padding: 5px 10px; 
    background: #0040FF; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
   }
   .oto1 {
    display: inline-block; 
    position: relative; 
    border-bottom: 1px dashed #333;
   }
   .oto1:hover::after {
    content: attr(data-title); 
    position: absolute; 
    left: 0; top: 110%;
    z-index: 1; 
    font-family: Arial, sans-serif; 
    font-size: 11px; 
    padding: 5px 10px; 
    background: #fc0; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
   }